{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/master.css'%}">

<h2>Hi</h2>
<ul>
  <li>Use quiz to check your knowledge</li>
  <li>Use notes to learn the most basic aspects of GCP</li>
</ul>

<h2>Todo:</h2>
<ul>
  <li>Implement quiz engine</li>
  <li>Add questions from freecram</li>
  <li>Add questions from linux academy</li>
  <li>Add questions from google example exam</li>
</ul>

<h2>Done:</h2>
<ul>
  <li><strike>Start this webpage</strike></li>
</ul>

{% endblock %}
